configs/s3_logparse/roles/streaming_node/files/nifi_flows/CopyDataAcross.json
{"flowContents":{"identifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"CopyDataAcross","comments":"","position":{"x":251.94003295898438,"y":-245.53538131713867},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fd97564d-1d0e-33fd-9654-789835116328","name":"FetchS3Object","comments":"","position":{"x":801.9428100585938,"y":315.0826416015625},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","properties":{"Proxy Host":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"alpha2-serveraccessslog","Version":null,"Communications Timeout":"15 secs","Region":"us-east-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"10 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":40,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"f5f2be50-3929-34da-90b0-450316c7efcf","name":"ListS3","comments":"","position":{"x":802.7715454101562,"y":21.525129318237305},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.aws.s3.ListS3","properties":{"write-s3-user-metadata":"false","Proxy Host":null,"list-type":"1","prefix":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","AWS Credentials Provider service":null,"SSL Context Service":null,"write-s3-object-tags":"false","Signer Override":"Default Signature","Bucket":"alpha2-serveraccessslog","delimiter":null,"Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"proxy-user-name":null,"min-age":"0 sec","Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"5804c847-6719-307b-92fb-7b4a72d9abdc","name":"PutS3Object","comments":"","position":{"x":802.3592750058418,"y":514.5953330182706},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"blaws3logs","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-1","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"10 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":70,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"236921cd-8d1a-3e28-9ed0-c34cb52ac670","name":"","source":{"id":"f5f2be50-3929-34da-90b0-450316c7efcf","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"ListS3","comments":""},"destination":{"id":"0baffd33-f7a5-3106-9229-61a1d2f3f7d3","type":"FUNNEL","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"5c470e15-dc08-3b8b-9dfd-136c649a8407","name":"","source":{"id":"c7c5f475-8e58-3c52-a18d-4dd5bd0145c6","type":"FUNNEL","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"Funnel","comments":""},"destination":{"id":"5804c847-6719-307b-92fb-7b4a72d9abdc","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":677.2497384994363,"y":507.59663362466165}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"337a87a3-c6de-3035-bf75-9778a0215292","name":"","source":{"id":"fd97564d-1d0e-33fd-9654-789835116328","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"FetchS3Object","comments":""},"destination":{"id":"5804c847-6719-307b-92fb-7b4a72d9abdc","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"360475d6-ea99-305c-949d-717d6729c078","name":"","source":{"id":"0baffd33-f7a5-3106-9229-61a1d2f3f7d3","type":"FUNNEL","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"Funnel","comments":""},"destination":{"id":"fd97564d-1d0e-33fd-9654-789835116328","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"54d62768-4fd0-3290-907d-2cdbee027441","name":"","source":{"id":"fd97564d-1d0e-33fd-9654-789835116328","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"FetchS3Object","comments":""},"destination":{"id":"71f5d0d4-cd55-3ea0-9cb0-8e31c13692b9","type":"FUNNEL","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"8732a0e2-f5ad-35d6-a7df-27dcf4515e3f","name":"","source":{"id":"5804c847-6719-307b-92fb-7b4a72d9abdc","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"PutS3Object","comments":""},"destination":{"id":"c7c5f475-8e58-3c52-a18d-4dd5bd0145c6","type":"FUNNEL","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"1f192ecd-6203-394c-9109-af12ba276c74","name":"","source":{"id":"71f5d0d4-cd55-3ea0-9cb0-8e31c13692b9","type":"FUNNEL","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"Funnel","comments":""},"destination":{"id":"fd97564d-1d0e-33fd-9654-789835116328","type":"PROCESSOR","groupId":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":701.1035003662109,"y":253.3854522705078}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"}],"labels":[],"funnels":[{"identifier":"c7c5f475-8e58-3c52-a18d-4dd5bd0145c6","position":{"x":470.5543865633431,"y":601.311618313084},"componentType":"FUNNEL","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"5e1aa439-2898-3d2a-99ae-bddf52d78701","position":{"x":1521.5839501525777,"y":451.6692169018314},"componentType":"FUNNEL","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"0baffd33-f7a5-3106-9229-61a1d2f3f7d3","position":{"x":954.1378173828125,"y":218.1761703491211},"componentType":"FUNNEL","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"3e2de55e-145e-3774-b269-ba06ad476300","position":{"x":1463.4669834142528,"y":323.59664205255956},"componentType":"FUNNEL","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"23424636-80c7-315f-8a1e-be8109c50968","position":{"x":1270.9535059536454,"y":225.39690247296886},"componentType":"FUNNEL","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"},{"identifier":"71f5d0d4-cd55-3ea0-9cb0-8e31c13692b9","position":{"x":401.2641906738281,"y":252.68826293945312},"componentType":"FUNNEL","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"}],"controllerServices":[{"identifier":"8f71d4c2-5cb4-399b-9ceb-97fefbe00793","name":"BHPAWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"1.11.4.1.1.0.0-119"}}],"properties":{"profile-name":null,"Assume Role Session Name":null,"assume-role-proxy-host":null,"Credentials File":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-external-id":null,"Assume Role ARN":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false},"Session Time":{"name":"Session Time","displayName":"Session Time","identifiesControllerService":false,"sensitive":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"d51c7db0-85c8-3eb8-83d5-fbdec0ca063c"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}