configs/s3_logparse/roles/streaming_node/files/nifi_flows/test_refactor_group.json
{"flowContents":{"identifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"test_refactor_group","comments":"","position":{"x":688.4709167480469,"y":-39.734113693237305},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b5aabfe6-eb8c-3aea-9093-bc8f8932c262","name":"MergeRecord","comments":"","position":{"x":1143.0381453181667,"y":1428.5085698473345},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep All Unique Attributes","min-records":"1000","max-bin-size":"64MB","record-writer":"fce2feb9-b831-3182-8945-062abd63992b","merge-strategy":"Bin-Packing Algorithm","record-reader":"99c911d3-0be7-3c1c-866c-7af0fefb5734","max-records":"10000","min-bin-size":"0 B","max.bin.count":"5"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":45,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"11dddee0-2615-35e5-9af7-c6c275934e64","name":"ConvertAvroToParquet","comments":"","position":{"x":1141.2758656636981,"y":1826.9574795354138},"bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":"PARQUET_1_0","max-padding-size":null,"compression-type":"SNAPPY","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"c91c9571-bbcc-32da-b435-f17923f248bd","name":"ConvertRecord","comments":"","position":{"x":1146.9151494942832,"y":1039.2924842429},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"a30bdc10-441f-371c-b1f1-3c67d61e6f45","record-reader":"e127c41a-9f8b-3513-9a71-ed6c8d6f4c48","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":270,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"392f4aab-9878-3698-be51-56e1bf8164ec","name":"PutS3Object","comments":"","position":{"x":1141.275868031283,"y":2028.399724389008},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Object Key":"RawParquet_test2/${filename}","AWS Credentials Provider service":"2cbcbb59-986b-32a4-9a99-9c1a84680750","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"blaws3logsorganised","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"ap-southeast-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":15,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"efbd729f-3758-3460-88bd-976de6b5ad47","name":"RouteOnAttribute","comments":"","position":{"x":1152.4893877237844,"y":828.9587001800537},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","filename":"${filename:startsWith('s3serveraccesslogging')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"7ca20ce8-8ba6-3235-935d-a522089fb323","name":"MergeRecord","comments":"","position":{"x":1146.4525740291042,"y":1631.2715093004595},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep All Unique Attributes","min-records":"10000","max-bin-size":"64MB","record-writer":"ff88665e-2ced-3330-8de5-c5bd181b358a","merge-strategy":"Bin-Packing Algorithm","record-reader":"99c911d3-0be7-3c1c-866c-7af0fefb5734","max-records":"100000","min-bin-size":"0 B","max.bin.count":"5"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":45,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"9c356bcf-f1cc-30ef-a8c0-e2109a9ff319","name":"ListS3","comments":"","position":{"x":1157.8055498331594,"y":427.26026916503906},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.aws.s3.ListS3","properties":{"write-s3-user-metadata":"false","Proxy Host":null,"list-type":"1","prefix":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","AWS Credentials Provider service":"2cbcbb59-986b-32a4-9a99-9c1a84680750","SSL Context Service":null,"write-s3-object-tags":"false","Signer Override":"Default Signature","Bucket":"blaws3logs","delimiter":null,"Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"proxy-user-name":null,"min-age":"0 sec","Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"53e23ff7-843e-3f7a-84b9-d3230a3c7d9c","name":"FetchS3Object","comments":"","position":{"x":1152.2608720987844,"y":630.1966705322266},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","properties":{"Proxy Host":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":"2cbcbb59-986b-32a4-9a99-9c1a84680750","SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"blaws3logs","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":15,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"0d73d94e-ae62-31c2-9cee-d79398152e4b","name":"MergeRecord","comments":"","position":{"x":1145.9722273494167,"y":1248.6009160387407},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.0-119"},"style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep All Unique Attributes","min-records":"100","max-bin-size":"64MB","record-writer":"fce2feb9-b831-3182-8945-062abd63992b","merge-strategy":"Bin-Packing Algorithm","record-reader":"99c911d3-0be7-3c1c-866c-7af0fefb5734","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":40,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a2c1560d-8dc0-3351-90c5-c36dd9bff980","name":"","source":{"id":"7ca20ce8-8ba6-3235-935d-a522089fb323","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"destination":{"id":"7ca20ce8-8ba6-3235-935d-a522089fb323","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":982.9957353800344,"y":1689.4583797454834},{"x":872.5288164347219,"y":1575.1822566986084}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"55971aed-e7eb-39f3-aad9-21d25dda69e0","name":"","source":{"id":"7ca20ce8-8ba6-3235-935d-a522089fb323","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"destination":{"id":"11dddee0-2615-35e5-9af7-c6c275934e64","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertAvroToParquet","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"09605ea5-db4b-341c-b16b-a9f9fe0ba98f","name":"","source":{"id":"c91c9571-bbcc-32da-b435-f17923f248bd","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertRecord","comments":""},"destination":{"id":"0d73d94e-ae62-31c2-9cee-d79398152e4b","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":750000,"backPressureDataSizeThreshold":"2500 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"6bb75d13-f0cc-3525-83a4-50b2671a0a03","name":"","source":{"id":"0d73d94e-ae62-31c2-9cee-d79398152e4b","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"destination":{"id":"0d73d94e-ae62-31c2-9cee-d79398152e4b","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1004.619261040823,"y":1273.1047002184282},{"x":1005.6523420955104,"y":1353.0640508043657}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"bc2f8fe4-b5cd-3974-b97d-cc09cc0ef38e","name":"","source":{"id":"9c356bcf-f1cc-30ef-a8c0-e2109a9ff319","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ListS3","comments":""},"destination":{"id":"21d0a2d8-2038-33a4-89e8-657fe562d750","type":"FUNNEL","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"89078ab0-78fd-3b39-aa3c-400e82a99fa6","name":"","source":{"id":"11dddee0-2615-35e5-9af7-c6c275934e64","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertAvroToParquet","comments":""},"destination":{"id":"427929b2-b55d-3777-8eb5-de2307506cea","type":"FUNNEL","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"687c5bff-bfa0-352f-86ed-5daa9ce509a5","name":"","source":{"id":"efbd729f-3758-3460-88bd-976de6b5ad47","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"RouteOnAttribute","comments":""},"destination":{"id":"c91c9571-bbcc-32da-b435-f17923f248bd","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["filename"],"backPressureObjectThreshold":15000,"backPressureDataSizeThreshold":"1500 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"1e072547-1915-3a35-b5bc-5258e08f6ee8","name":"","source":{"id":"11dddee0-2615-35e5-9af7-c6c275934e64","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertAvroToParquet","comments":""},"destination":{"id":"392f4aab-9878-3698-be51-56e1bf8164ec","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"b0aecf1d-ad63-329e-af99-d5a85bcf3bb3","name":"","source":{"id":"b5aabfe6-eb8c-3aea-9093-bc8f8932c262","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"destination":{"id":"ed3db963-61b5-389d-aeaa-8f9a15fa2165","type":"FUNNEL","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":979.1865312784719,"y":1493.9192562103271}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"68694c7c-412d-308f-ac46-4628312fd7cf","name":"","source":{"id":"b5aabfe6-eb8c-3aea-9093-bc8f8932c262","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"destination":{"id":"7ca20ce8-8ba6-3235-935d-a522089fb323","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"c3af9c18-7e3a-3315-93c9-bc0b24c18ff5","name":"","source":{"id":"53e23ff7-843e-3f7a-84b9-d3230a3c7d9c","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"FetchS3Object","comments":""},"destination":{"id":"53e23ff7-843e-3f7a-84b9-d3230a3c7d9c","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1696.7957842081594,"y":683.1015090942383},{"x":1698.0383379190969,"y":727.5005574226379}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"2034a28b-af3a-3370-8f26-d2d5207f4c5c","name":"","source":{"id":"c91c9571-bbcc-32da-b435-f17923f248bd","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertRecord","comments":""},"destination":{"id":"c91c9571-bbcc-32da-b435-f17923f248bd","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":919.3758123360801,"y":1044.0802650046187},{"x":919.5958440743614,"y":1147.5665931296187}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"48bdcb38-4f50-3dff-a29e-53e54e20d5f0","name":"","source":{"id":"392f4aab-9878-3698-be51-56e1bf8164ec","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"PutS3Object","comments":""},"destination":{"id":"392f4aab-9878-3698-be51-56e1bf8164ec","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1634.9698377578454,"y":2061.8224538811955},{"x":1636.0660291640954,"y":2120.592107201508}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"cb857a28-0987-3af1-acf3-1d321bb098a8","name":"","source":{"id":"21d0a2d8-2038-33a4-89e8-657fe562d750","type":"FUNNEL","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"Funnel","comments":""},"destination":{"id":"53e23ff7-843e-3f7a-84b9-d3230a3c7d9c","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"43943f03-07fd-35dd-9597-688c7e93ac6c","name":"","source":{"id":"0d73d94e-ae62-31c2-9cee-d79398152e4b","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"destination":{"id":"b5aabfe6-eb8c-3aea-9093-bc8f8932c262","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"39944b95-1c22-3476-afe0-aa3c36a01a88","name":"","source":{"id":"53e23ff7-843e-3f7a-84b9-d3230a3c7d9c","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"FetchS3Object","comments":""},"destination":{"id":"efbd729f-3758-3460-88bd-976de6b5ad47","type":"PROCESSOR","groupId":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"}],"labels":[],"funnels":[{"identifier":"21d0a2d8-2038-33a4-89e8-657fe562d750","position":{"x":1810.141136985903,"y":583.6262780168282},"componentType":"FUNNEL","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"427929b2-b55d-3777-8eb5-de2307506cea","position":{"x":782.5043299729609,"y":1876.019238714237},"componentType":"FUNNEL","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"},{"identifier":"ed3db963-61b5-389d-aeaa-8f9a15fa2165","position":{"x":794.3611944161582,"y":1318.5424232077437},"componentType":"FUNNEL","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"}],"controllerServices":[{"identifier":"405f7e60-94e0-3dac-ab81-30307dc10845","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.0-119"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.0-119"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8209b556-bccc-3d28-8b4a-e2b06e74e7cd"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"2cbcbb59-986b-32a4-9a99-9c1a84680750":{"identifier":"2cbcbb59-986b-32a4-9a99-9c1a84680750","name":"CLDR-AWSCredentialsProviderControllerService"},"ff88665e-2ced-3330-8de5-c5bd181b358a":{"identifier":"ff88665e-2ced-3330-8de5-c5bd181b358a","name":"BulkS3AccessLogsAvroRecordSetWriter"},"a30bdc10-441f-371c-b1f1-3c67d61e6f45":{"identifier":"a30bdc10-441f-371c-b1f1-3c67d61e6f45","name":"S3AccessLogsAvroRecordSetWriter"},"99c911d3-0be7-3c1c-866c-7af0fefb5734":{"identifier":"99c911d3-0be7-3c1c-866c-7af0fefb5734","name":"S3AccessLogsAvroReader"},"fce2feb9-b831-3182-8945-062abd63992b":{"identifier":"fce2feb9-b831-3182-8945-062abd63992b","name":"s3AccessLog_intermediateAvroRecordSetWriter"},"e127c41a-9f8b-3513-9a71-ed6c8d6f4c48":{"identifier":"e127c41a-9f8b-3513-9a71-ed6c8d6f4c48","name":"s3_access_logs_grok_reader"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}